# Core packages
# torch-geometric==2.5.1

# PyG extensions (to be installed with wheels manually, see setup instructions)
# These will not work directly from pip without the correct compiler and wheel links
# See: https://data.pyg.org/whl/
# Instead of installing from pip here, they should be installed separately like:
# pip install torch-scatter -f https://data.pyg.org/whl/torch-2.2.1+cu121.html
# pip install torch-sparse -f https://data.pyg.org/whl/torch-2.2.1+cu121.html
# pip install torch-cluster -f https://data.pyg.org/whl/torch-2.2.1+cu121.html
# pip install torch-geometric -f https://data.pyg.org/whl/torch-2.2.1+cu121.html

# General dependencies
numpy==1.25.0
pandas==2.2.0
matplotlib==3.8.2
scikit-learn==1.4.0
tqdm==4.66.1
networkx==3.2.1
tensorboard==2.16.2
pyyaml==6.0.1
pyarrow==20.0.0